html,body{
  width: 100%;
  height: 100%;
  background: #ffffff;
}
%center{
  text-align: center;
}
%fl{
  float: left;
}
$baseColor:#d80a1e;
$fontColor:#fff;
.clearfix{
  &:before,
  &:after {
    display: block; //zy
    content: " "; // 1
    height: 0; //zy
  }
  &:after {
    clear: both;
  }
}

@mixin rightArrow($bWidth: 1px,$color:#fff,$bgColor:$baseColor){
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-left-width: 8px;
    border-right-width: 8px;
    border-left-color: $bgColor;
    top: 50%;
    margin: -6px 0 0 0;
    right: 0;
  }
  &:before{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-left-width: 8px;
    border-right-width: 8px;
    border-left-color: $color;
    top: 50%;
    margin: -6px 0 0 0;
    right: -$bWidth;
  }
}

@mixin downArrow($bWidth: 1px,$color:#fff,$bgColor:$baseColor){
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: $bgColor;
    top: 50%;
    margin: -6px 0 0 0;
    right: 0;
  }
  &:before{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: $color;
    top: 50%;
    margin: -5px 0 0 0;
    right: 0;
  }
}
.hide{
  display: none;
}
.deep-hide{
  display: none !important;
}